<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card" *ngFor="let product of products">
                <div class="card-header">
                    <div class="product-image">
                        <img [src]="product.processedImg" alt="{{product.name}} Image" class="preview-image" *ngIf="product.processedImg">
                    </div>
                </div>
                    <div class="card-body">
                        <h2>{{product.productName}}</h2>
                        <p class="description">{{ product.productDescription}}</p>
                        <p class="price">Price: ${{product.price}}</p>

                    </div>
                

            </div>
        </div>
    </div>
</div>