.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-card{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.flex1{
    margin-bottom: 20px;
}


