<div class="container">

    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center">
                    Add Category
                </div>
                <div class="card-body">
                    <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
                       <div class="middle">

                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Name</mat-label>
                        <input type="text" matInput placeholder="Name" formControlName="name"/> 
                        <mat-error *ngIf="categoryForm.get('name')?.hasError('required')">This input is required</mat-error>
                        </mat-form-field>
                      <br> <br>
                
                      
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Description</mat-label>
                        <input type="text" matInput placeholder="Description" formControlName="description"/> 
                        <mat-error *ngIf="categoryForm.get('description')?.hasError('required')">This input is required</mat-error>
                        </mat-form-field>
                        <br>
                        <br>
                     
                
                        <button mat-raised-button class="btn btn-success" type="submit">Add Category</button>
                    </div>
                
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


